.gitignore
!/.gitignore

CrashDump*.txt

/Client/*.log
/Client/data/cache/
/Client/fallout.dat
/Client/Mapper/*.log

/Mapper/*.log

/Server/config/**/*.bak
/Server/dumps/
/Server/logs/
/Server/maps/**/*.fomapb
/Server/save/
/Server/scripts/**/*.fosb
/Server/scripts/**/*.fosp
/Server/cache_fail

/Tools/WorldEditor/WorldEditor.user.cfg

Server/extensions/Debug/
Server/extensions/Release/
Server/extensions/**/Debug/
Server/extensions/**/Release/
.vs
*.opensdf
*.sdf
*.suo
*.vcxproj.user
