##
## [Dialogs]
## dialog_name = dialog_id
##
##  dialog_name  relative path to .fodlg file, without extension
##               using ".." is undefined behavior
##  dialog_id    positive number
##               strings and numbers <= 0 are silently ignored
##
##

[Dialogs]
all_default = 10
all_alco = 20
all_merchant = 22
all_farmer = 23
all_narcoman = 25
all_narcoman_w = 26
all_turret = 27
all_prostitute = 30
all_child = 40
all_child_w = 41
all_slave = 42
all_slaver = 43
all_trapper = 44
all_narcodialer = 45
all_tatoo_shop = 46
all_bootlegger = 50
all_robber = 55
all_bandit = 56
all_cannibal = 57
all_guard = 60
all_guard_w = 61
all_homesteader = 62
all_raider = 63
all_enclave_patrol = 64
all_mercenary = 67
all_elronologist = 68
all_press_gang = 69
all_unity = 80
all_traveller = 82
all_ranger = 83
all_marauder = 84
all_bounty_hunter = 85
all_outcast = 86
all_holy_people = 87
all_nomad = 88
all_hunter = 89
all_brahmin_herdsman = 90
all_brahmin = 91
all_endless_walker = 92
all_caravan_packer = 93
all_sierra_hermit = 94
all_follower = 96
all_powderganger = 97
all_barber = 98
all_supermutants_enc = 99

junktown_guard = 1700
junktown_neal = 1701
junktown_barv = 1702
junktown_killian = 1703
junktown_dogman = 1705
junktown_crash1 = 1706
junktown_doctor = 1707
junktown_entrancegrd = 1708
junktown_jail = 1709
junktown_peasant = 1710
junktown_gang = 1711
junktown_drunktard = 1712
junktown_boyce = 1713
junktown_baseseller = 1714
junktown_scout = 1715
junktown_bartender = 1716
junktown_duelguy = 1717
junktown_caravantrader = 1718
junktown_sassy = 1719
junktown_ronnie = 1720
junktown_phouse_guard = 1721
junktown_phouse_thomas = 1722
junktown_phouse_mrhandy = 1723
junktown_gate_guard = 1724

se_bos_injured = 1901

intro_noobcamp_jasonstone = 2450

hub_police1 = 2500
farmer1 = 2501
farmer2 = 2502
hub_iguana_pete = 2503
hub_prisoner = 2504
hub_caravan1 = 2505
hub_caravan2 = 2506
hub_caravan3 = 2507
hub_jkelly = 2508
hub_jacob = 2509
hub_beth = 2510
hub_mitch = 2511
hub_shopguard = 2512
hub_falcon1 = 2513
hub_brahminman = 2514
hub_keri = 2515
hub_ailis = 2516
hub_crimsonguard = 2517
hub_bankguard = 2518
hub_library = 2519
hub_skag = 2520
hub_hubber = 2521
hub_policecaptain = 2522
hub_crimson_leader = 2523
hub_fargo_leader = 2524
hub_police2 = 2525
hub_sadwife = 2526
hub_fargo_mandesa = 2527
hub_fargo_mitch = 2528
hub_arena_manager = 2529
hub_arena_shouter = 2530
hub_duelguy = 2531
hub_henry = 2532
hub_child_shren = 2533
hub_mick = 2534
hub_farmer1 = 2535
hub_farmer2 = 2536
hub_waterboy = 2537
hub_watermerchant_guard = 2538
hub_water_merchant = 2539
hub_thief_connection = 2540
hub_caravan_master = 2541

mob_norm_rat = 5000
mob_pig_rat = 5001
mob_mole_rat = 5002
mob_int_mole_rat = 5003
mob_small_scorp = 5010
mob_large_scorp = 5011
mob_mantis = 5012
mob_giant_ant = 5013
mob_silver_gecko = 5020
mob_golden_gecko = 5021
mob_fire_gecko = 5022
mob_baby_deathclaw = 5030
mob_adult_deathclaw = 5031
mob_int_deathclaw = 5032
mob_deathclaw_egg = 5033
mob_robobrain = 5040
mob_fly_eyeball = 5041
mob_sentry_bot = 5042
mob_mr_handy = 5043
mob_floor_turret = 5044
mob_plasma_turret = 5045
mob_floater = 5050
mob_centaur = 5051
mob_wanamingo = 5052
mob_spore_plant = 5053
mob_dog = 5054
mob_brahmin = 5055
mob_alien = 5056
mob_tribal = 5057
mob_bandit = 5058
mob_mutant = 5059
mob_pashtshuur = 5060
mob_uber_sentry_bot = 5061
factions_terminal = 9060
tents_campfire = 9061
economy_banker = 9300
economy_vault_guard = 9301
follower = 9310
follower_dog = 9311
follower_brahmin = 9312
brahminman_guard = 9313
follower_slave = 9314
follower_rat = 9322
gun_gabriel = 9438
gun_gunrnr = 9439
gun_moatalexei = 9440
gun_zack = 9441
la_ady_caleb = 9442
la_ady_chuck = 9443
la_ady_cit = 9444
la_ady_lorraine = 9445
la_ady_taylor = 9446
la_ady_zimmer = 9447
la_ady_miles = 9448
la_blade_generic = 9449
la_blade_razor = 9450
la_lib_fol = 9451
la_lib_katja = 9452
la_lib_nicole = 9453
la_ady_reg = 9454
la_ady_gunsmith = 9455
la_lib_caesar = 9456
la_blade_simon = 9457
la_gun_elmer = 9458
la_regulator1 = 9459
la_regulator2 = 9460
la_train_peasant1 = 9461
la_train_peasant2 = 9462
la_train_ticketseller = 9463
la_train_coc1 = 9464
la_train_coc2 = 9465
la_train_coc3 = 9466
la_blade_hangman_regulator = 9468
la_train_coc4 = 9469
la_ady_hendriks = 9470
la_dog = 9471
la_lib_librarian = 9472
la_lib_tent_dweller = 9473
la_ady_dogman = 9474
gun_gunrnr2 = 9475
la_blade_trisha = 9476
la_lib_therese = 9477
gun_facility_worker = 9478
la_locker_guards = 9479



prospect_owner = 10100
prospect_guard = 10101
all_base_foreworker = 10150
all_base_builder = 10151

spawn_hub_caravanleader = 10254
spawn_hub_caravanwater = 10255

q_jt_scorpion = 10280
q_first_tent_eric = 10284
q_first_tent_sally = 10285
q_first_tent_hasso = 10286
q_first_tent_evelyn = 10287
rq_monte_carlo = 10501
militia = 10600
event_low_outfitter = 10799
event_warzone_terminal = 10800
event_outfitter = 10801
altruist = 10802
dialogimage = 10808
event_outfitter2 = 10809
event_teleporter = 10810
event_outfitter_special = 10811
all_ncr_army = 11000

noob_camp_exit_gate = 23001
noob_camp_scorpion_guard = 23002

intro_noobcamp_alec = 23003
intro_noobcamp_breeder = 23004
intro_noobcamp_cyberdog = 23005
intro_noobcamp_ed = 23006
intro_noobcamp_enter = 23007
intro_noobcamp_farnham = 23008
intro_noobcamp_herdsman = 23009

intro_noobcamp_jessica = 23011
intro_noobcamp_jimmy = 23012
intro_noobcamp_kid = 23013
intro_noobcamp_knife = 23014
intro_noobcamp_lawrence = 23015
intro_noobcamp_mrhandy = 23016
intro_noobcamp_oldtrapper = 23017
intro_noobcamp_rebec = 23018
intro_noobcamp_simon = 23019
intro_noobcamp_stanley = 23020
intro_noobcamp_thunderjo = 23021
intro_noobcamp_tina = 23022
intro_noobcamp_weakhunter = 23023
intro_vaultexit = 23024
intro_noobcamp_bluesuit = 23025
intro_noobcamp_camphand = 23026
intro_noobcamp_guard = 23027
intro_noobcamp_doc = 23028
intro_noobcamp_bartender = 23029
intro_noobcamp_shed = 23030
intro_noobcamp_tool = 23031
intro_noobcamp_eager = 23032
intro_noobcamp_armor = 23033
intro_noobcamp_caravanpacker = 23034
intro_noobcamp_still1 = 23035
intro_noobcamp_resource_trader =23036
